cmake-build-debug/
.idea
.vscode
.vs

# Ignore word files and pdfs
*.docx
*.pdf

# Ignore compiled cpp files
*.o
*.out
*.exe

# Ignore tex files
*.aux
*.log
*.toc
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.fls
*.synctex.gz
*.lof
*.lot
*.tex

# Ignore images
*.png
*.jpg
